.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top:0px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: linear-gradient(135deg, #175581F2, #178177);
  color: #fff;
  border-radius: 20px;
}
.game-board {
 display: grid;
 grid-template-rows: repeat(3, 1fr);
 grid-template-columns: repeat(3,1fr);
 gap: 10px;
 padding-bottom: 30px;
}
h1 {
  font-size: 46px;
}
button {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
button:active {
  transform: scale(0.98);
}
.o-player::before {
  content: '';
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: 6px solid #4160B5;
  position: absolute;
}
.x-player::before {
  content: '';
  height: 50px;
  border: 3px solid #4160B5;
  border-radius: 2px;
  transform: rotate(45deg);
  position: absolute;
}
.x-player::after {
  content: '';
  height: 50px;
  border: 3px solid #4160B5;
  border-radius: 2px;
  transform: rotate(135deg);
  position: absolute;
}
.reset {
  color: #175586;
  background-color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  
}
