.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  background: rgba(85, 57, 197, 1);
}
.container {
  margin-top: 250px;
  width: 400px;
  background-color: rgba(57, 169, 197, 1);
  border-radius: 10px;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 7px;
  padding: 30px 40px;
}